<div class="col-md-12">
  <h2>Info for <%= @job.title %></h2>
</div>

<div class="col-md-12">
  <ul>
    <li><%= @job.title  %> </li>
    <li><%= @job.location  %> </li>
    <li><%=@job.description  %> </li>
    <li><%= @job.level  %> </li>
    <li><%= @job.salary %> </li>
  </ul>
</div>

  <% if current_user.present? %>
    <div class="col-md-12">
      <%= link_to "Learn about the Org", organization_path(@org) %><br>
      <%= link_to "Back", :back %> | <%= link_to "My Profile", user_path(current_user) %>
      <%= button_to "Apply", action: "apply" %>
    </div>
  <%elsif !current_user.present? && !current_organization.present?%>
    <div class="col-md-12">
      <%= link_to "Back", :back %> | <%= button_to "Apply", action: "apply" %>
    </div>
  <%else%>
    <div class="col-md-12">
      <%= link_to "Edit Position", edit_organization_job_path(@job) %>
      <%= link_to "View Applicants", job_users_path(@job)  %>
    </div>
   <%end%>
