<div class="col-md-6">
	<% if current_user === @user %>
	<div class="image-place" style="">
		<% if @user.job_application.present? && @user.job_application.profile.present? %>
			<% if @profile.user_photo.present? %>
			<%= image_tag @profile.user_photo.url(:medium) %>
			<%end%>
		<%end%>
	</div><br>
	<%end%>
	
	<% if current_user %>
		<h5>Your Application</h5>
		<% if @user.job_application.present? && @user.job_application.profile.present? %>
			<%= render partial: 'users/profile_present', locals: {profile: @profile, user: @user} %>
			<%else%>
			<%= render partial: 'users/profile_absent', locals: {user: @user} %>
		<%end%>
	<% elsif current_organization %>
		<div class="col-md-12 signUpForm" style="margin-left:50%;">
		<h5>Applicant</h5>
		<%= render partial: 'users/profile_present', locals: {profile: @profile, user: @user} %>
	</div>
	
	<%end%>

</div>

<% if current_user && current_user.job_application.present? %>
<div class="col-md-4">
	<div class="jobs_applied"><br>
		<h2>Your Jobs</h2><br>
		<% if @jobs_applied.size >= 1 %>
			<% @jobs_applied.each.with_index(1) do |job, i| %>
				<%= link_to job.title, job_path(job), class: "jobShow" %> @
				<%= job.organization.name %><br>
				 You applied <%= time_ago_in_words(job.created_at) %> ago<br>
				<hr id="appliedJobsList">
			<%end%>
		<%else%>
			<h5>You have not applied to any jobs</h5>
		<%end%>
	</div>
<%end%>
</div>
