<div class="col-md-4">
 <div class="image-place" style="height:200px; width:200px; background-color: lightgrey;">
<% if @user.user_photo_file_name.nil? %>
  <%= form_for @user, html: {multipart: true} do |f| %>
    <%= f.label :user_photo %>
    <%= f.file_field :user_photo %>
    <%= f.submit %>
    <%end%>
  <%else%>
    <%= image_tag @user.user_photo.url(:thumb) %>
  <%end%>


 </div>
 <div><h1>Users Profile</h1></br>
   <p>Email: <%= @user.email %><br>

</div>
</div>
<div class="col-md-8">

    <h2>User Job Application</h2>
  <% if @user.job_application.present? %>
  <%= @user.full_name %>
  <p>--------------------------------</p>
  <%= @job_app.address %><br>
  <%= @user.city_state %><br>
  <%= link_to "Edit Application", edit_job_application_path%><br>
  <%else%>
    <%= link_to "Click to complete your application", new_job_application_path %><br>
<%end%>

  <%= link_to "Open Jobs", jobs_path %>
</div>
