<div class="col-md-4">
  <div class="image-place" style="">
    <% if @job_application_profile.blank? %>
      <%= form_for @job_application_profile, html: {multipart: true} do |f| %>
        <%= f.label :user_photo %>
        <%= f.file_field :user_photo %><br><br>
        <%= f.submit %><br><br>
        <%end%>
    <%else%>
        <h4>Photo</h4>
    <%end%>
  </div>

    <h2>User Job Application</h2>
<% if @user.job_application.present? && @user.job_application.profile.present? %>
  <%= render partial: 'users/profile_present', locals: {profile: @profile} %>
<%else%>
  <%= render partial: 'users/profile_absent' %>
<%end%>


</div>

<div class="col-md-8">
  <%= link_to "Open Jobs", jobs_path %>
</div>
