<div class="col-sm-12"><h3>Application Form</h3></div>
<div class="col-sm-12">
	<%= form_for @job_application do |f| %><br><br>
		<div class="form-group">
			<%= f.fields_for :profile, html: {multipart: true} do |profile_attributes| %>
				<%= profile_attributes.label :user_photo %>
				<%= profile_attributes.file_field :user_photo %><br><br>

				<%= profile_attributes.label :first_name %>
				<%= profile_attributes.text_field :first_name %><br>

				<%= profile_attributes.label :middle_name %>
				<%= profile_attributes.text_field :middle_name %><br>

				<%= profile_attributes.label :last_name %>
				<%= profile_attributes.text_field :last_name %><br>

				<%= profile_attributes.label :phone %>
				<%= profile_attributes.text_field :phone %><br>

				<%= profile_attributes.label :alternate_phone %>
				<%= profile_attributes.text_field :alternate_phone %><br>

			<%end%>
			<%= f.submit %>
		</div>
	<%end%>
</div>
