<h1>Your Application</h1>
<%= @job_application.first_name %>
<%= @job_application.middle_name %>
<%= @job_application.last_name %><br>
<%= @job_application.address %>
<%= @job_application.city %>
<%= @job_application.state %>,
<%= @job_application.zip_code %><br>
<%= @job_application.phone %>
