

        <nav class="nav nav-pills flex-column flex-sm-row">
          <% if current_user.nil? && current_organization.nil? %>
          <%= link_to "Home", root_path, class:"flex-sm-fill text-sm-center nav-link " %>
          <%= link_to "Sign up-U", new_user_registration_path, class:"flex-sm-fill text-sm-center nav-link "  %>
          <%= link_to "Sign in-U", new_user_session_path, class:"flex-sm-fill text-sm-center nav-link " %>
          <%= link_to "Sign out-U", destroy_user_session_path, class:"flex-sm-fill text-sm-center nav-link ", :method => :delete if current_user.present? %>

          <%= link_to "Sign up-O", new_organization_registration_path, class:"flex-sm-fill text-sm-center nav-link " %>

          <%= link_to "Sign in-O", new_organization_session_path, class:"flex-sm-fill text-sm-center nav-link " %>
          <%= link_to "Sign out-O", destroy_organization_session_path, class:"flex-sm-fill text-sm-center nav-link ",  :method => :delete if current_organization.present? %>
           <%else%>

           <%= render 'layouts/logged_in_nav' %>

          <%end%>


        </nav>
